@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .contact-items {
    gap: 40px;
    flex-direction: row;
  }
  .email-link,
  .phone-number {
    font-size: 16px;
  }
  .hero {
    width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Allimages/Hero/people-office-desktop.jpg);
  }
  .page-title {
    margin-bottom: 48px;
  }
  .features-list {
    gap: 24px;
  }
  .features-list-item {
    width: 264px;
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .header-three {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .thumb {
    display: block;

    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cloud-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .directions {
    display: flex;
    gap: 24px;
  }

  .what-are-we-doing {
    display: block;
    padding-bottom: 120px;
  }
  .our-team {
    padding: 120px 0;
  }
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .footer-wrap {
    flex-direction: row;
    width: 100%;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-subscribe-container {
    margin-left: auto;
  }
  .portfolio {
    padding-bottom: 120px;
    padding-top: 96px;
  }
  .filter-list {
    margin-bottom: 72px;
  }
  .project-cards-list {
    gap: 48px 24px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Allimages/Hero/people-office-desktop@2x.jpg);
  }
}
