@media screen and (min-width:768px) {
  .mobile-menu {
    display: none;
    
  }
  .container {
    max-width: 766px;
  }
  .contact-items {
    flex-direction: column;
    gap: 8px;
  }
  .email-link {
    font-size: 12px;
  }
  .phone-number {
    font-size: 12px;
  }
  .button-menu-open {
    display: none;
  }
  .hero {
    height: 436px;
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Allimages/Hero/people-office-tablet.jpg);
  }
  .page-title {
    font-size: 56px;
    width: 496px;
    margin-bottom: 40px;
  }

  .features-list {
flex-direction: row;
flex-wrap: wrap;
gap: 72px 24px;

  }
  .features-list-item {
    width: 356px;
   
  }

  .thumb {
    display: none;
  }
  .header-three {
    text-align: left;

  }
  .photo-list {
    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
  .photo-list-item {
    width: 264px;
  }
  .person-name {
    text-align: center;
  }
  .customers-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .customer-item {

    width: 168px;
  }
.footer-wrap {
 flex-direction: row;
 flex-wrap: wrap;
 gap: 72px 24px;
 align-items: baseline;
justify-content: flex-start;
width: 552px;
}
.logo-one {
  justify-content: flex-start;
}
.footer-subscribe-paragraph {
  text-align: left;
}
.footer-social-title {
  text-align: left;
}
.footer-modal-form-field {
  flex-direction: row;
}
.modal-window {
  width: 408px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
/*-------Portfolio----*/
.portfolio {
  padding-bottom: 96px;
  padding-top: 64px;

}
.filter-list {
justify-content: center;
 gap: 16px 24px;
width: 100%;
margin-bottom: 64px;
}
.filter-button {
  padding: 12px 24px;

}
.project-cards-list {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 72px 24px;
  
}
.project-card-item {
  width: 356px;
}
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Allimages/Hero/people-office-tablet@2x.jpg);
  }
}